<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title th:text="${title}">Title</title>
<link href="/webjars/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
	</header>
	<a th:href="@{/index}" class="btn btn-secondary">Back</a>
	<h1 th:text="${title}">App Title</h1>
	<form class="row g-3" th:action="@{/get-student/}" method="POST">
		<div class="col-auto">
			<label for="staticEmail2" class="visually-hidden">Email</label>
			<input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="T.I.">
		</div>
		<div class="col-auto">
			<label for="studentId" class="visually-hidden">Number</label>
			<input type="text" class="form-control" id="studentId" placeholder="Number" th:value="${dni}" name="dni">
		</div>
		<input type="hidden" id="courseId" placeholder="Number" th:value="${course.id}" name="courseId">
		<div class="col-auto">
			<button type="submit" class="btn btn-primary mb-3">Load student</button>
		</div>
	</form>
	<div class="col-auto" th:if="${student != null}">
		<p th:text="${student.dni}">T.I.</p>
		<p th:text="${student.name}">Name</p>
		<form class="row g-3" th:action="@{/add-student/}" method="post">
			<input type="hidden" id="dni" th:value="${student.dni}" name="dni">
			<input type="hidden" id="courseId" th:value="${course.id}" name="courseId">
			<button type="submit" class="btn btn-success">Add student</button>
		</form>
	</div>
	<div th:if="${course.students.empty}">
		<h2>No Students</h2>
	</div>
	<div th:if="${!course.students.empty}" class="container">
		<table class="table table-hover table-sm">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Lastname</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student : ${course.students}">
					<td th:text="${studentStat.index}">No.</td>
					<td th:text="${student.name}">student.name</td>
					<td th:text="${student.lastname}">Lastname</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
	<script src="/webjars/bootstrap/5.0.2/js/bootstrap.min.js"></script>
</body>
</html>