<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head"></head>
<body>
    <div th:replace="layouts/layout :: header"></div>
    <div class="container py-4">
        <h1 th:text="${title}">App Title</h1>
        <p th:text="'Number of students: ' + ${students.size}">Number of students: 0</p>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            <div th:if="${courses.empty}">
                <h2>No Courses</h2>
            </div>
            <div th:if="${!courses.empty}" th:each="course : ${courses}" class="col d-flex align-items-start">
                <div>
                    <h4 th:text="${course.name}">Course name</h4>
                    <p th:text="'Profesor: ' + ${course.director.name}">Director</p>
                    <a th:href="@{/course/} + ${course.id}" class="btn btn-primary">Details</a>
                    <a th:href="@{/edit-course/} + ${course.id}" class="btn btn-light">Edit Course</a>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="layouts/layout :: footer"></footer>
</body>
</html>