<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="layouts/layout :: head"></head>

<body>
	<div th:replace="layouts/layout :: header"></div>
	<h1 th:text="${title}">App Title</h1>
	<div th:if="${subjects.empty}">
		<h2>No Students</h2>
	</div>
	<div th:if="${!subjects.empty}" class="container">
		<table class="table table-hover table-sm">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student : ${subjects}">
					<td th:text="${studentStat.index}">No.</td>
					<td th:text="${student.name}">student.name</td>
					<td><a th:href="@{/student/} + ${student.id}">Details</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="layouts/layout :: footer"></footer>
</body>

</html>